---
title: |
  PayUSharp

  PayU Türkiye .NET Kütüphanesi Kullanım Kılavuzu
author: '**Kütüphane Versiyonu** {{VERSION}}'
date: '{{DATE}}'
fontsize: 12pt
classoption: [oneside]
geometry: [margin=1in]
listings: true
---
